/* Events Page Specific Styles */
.adminredirect {
  margin: 4px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  background: linear-gradient(#b9f6c4, transparent);
  background-color: #86fa9b;
  border: none;
  color: black;
  border: 2px solid #04aa6d;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.5s;
}

.adminredirect:hover {
  background-color: #04aa6d;
  color: white;
  transition-duration: 0.3s;
}

.adminredirect:active {
  color: black;
}

/* Event Page Table Styles */
.announcement {
  width: 80%; /* Adjusted width to better fit centering */
  border-collapse: collapse;
  background-color: white;
  margin: 20px auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px; /* Rounded corners */
  border: none; /* Remove border */
}

.announcement table {
  width: 100%;
  border-collapse: collapse;
  border: none !important; /* Ensure no border for table */
}

.announcement th,
.announcement td,
.announcement tr {
  border: none !important; /* Remove border from all table elements */
}

.announcement th {
  background: linear-gradient(#b9f6c4, transparent); /* Gradient color */
  background-color: #86fa9b;
  padding: 10px;
  text-align: center; /* Center text */
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
}

.announcement td {
  padding: 10px;
  text-align: center; /* Center text */
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
}

.announcement tr:nth-child(even) {
  background-color: #f2f2f2;
}

.announcement-names {
  font-weight: bold;
}

.announcement-data {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
}

.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: center; /* Center content */
  align-items: center; /* Center content */
  flex-direction: column; /* Use column for better centering */
  width: 100%;
  margin: 0 auto;
}

.eventHeader {
  text-align: center;
  background: linear-gradient(#b9f6c4, transparent);
  background-color: #86fa9b;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border: solid;
  border-color: #04aa6d;
  border-radius: 20px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 36px;
  width: 310px;
  margin: 15px auto 20px; /* Center the header and add margin */
}
